<main class="px-4 py-0 sm:px-6 lg:px-8 text-pink-500">
  <div class="container mx-auto max-w-5xl">
    <%!-- <.flash_group flash={@flash} /> --%>
    <%= @inner_content %>

    <footer class="mt-10">
      Copyright © <%= @current_date.year() %> William Manahan-Makley |
      <a href="https://github.com/wmakley/tictactoe" rel="noopener noreferrer">Source Code</a>
    </footer>
  </div>
</main>
